.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.Footer-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.Direct_chat_whataspp{
  margin: 10px;
  width: 70%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4%;
  border-radius: 20px;
  background-color: #25D366;
}
.Direct_chat_telegram{
  margin: 10px;
  width: 70%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4%;
  border-radius: 20px;
  background-color: #229ED9;
}
.Chat_title{
  color: white;
  font-size: 90%;
}
.Link-logo {
  width: 80%;
  height: 80%;
  margin: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #e8cfe2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10%;
  font-size: calc(10px + 2vmin);
  color: #67074E;
  font-family: B-Nazanin;

}
.App-header-title{
  font-size: 25px;
  font-weight: bold;
  align-items: center;
  justify-content: flex-start;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
